@charset "UTF-8";

.euclid-instruments-filters .form-item {
  padding-left: 0;
  padding-right: 0;
}

.euclid-instruments-filters .form-control, .euclid-instruments-filters select {
  padding-right: inherit !important;
  padding-left: 6px;
  width: 90% !important;
}

.euclid-instruments-filters.fits-file-container {
  float: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 15px !important;
}

.fits-url-container {
  display: flex;
}

.button-refresh-url {
  margin-left: 1em;
  float: right !important;
}

.no-padding-right {
  padding-right: 6px !important;
}

.confirmation-refresh-url-container {
  margin-top: 0.5rem;
}